---
layout: default
uri: /
---
<div class="posts">

    {% for post in paginator.posts %}
    <section class="post">
        <header class="post-header">
            <h2 class="post-title" itemprop="name headline">
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <p class="post-meta">
                <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">Posted on {{ post.date
                    | date: "%b %-d, %Y" }}
                </time>
                {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">{{ post.author }}</span>
        </span>
                {% endif %}

            </p>
        </header>
        <div class="post-content">
            <p>
                {{ post.content | strip_html | truncatewords: 30 }}
            </p>
        </div>
        <div class="post-button">
            <a
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored center"
                    href="{{ post.url | prepend: site.baseurl }}"
                    title="Read {{ post.title }}">
                Read more
            </a>

        </div>
    </section>
    {% if forloop.last == false %}
    <div class="post-separator"></div>
    {% endif %}
    {% endfor %}
    <!-- Pagination links -->
    {% if paginator.total_pages > 1 %}
    <ul class="pagination">
        {% if paginator.previous_page %}
        <li>
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                {% include pagination__previous-button.html %}
            </a>
        </li>
        {% else %}
        <li>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect" disabled>
                <i class="material-icons">keyboard_arrow_left</i>
            </button>
        </li>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <li class="pagination__page--is-active">{{ page }}</li>
        {% elsif page == 1 %}
        <li>
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        </li>
        {% else %}
        <li>
            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">
                {{ page }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
        <li>
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                {% include pagination__next-button.html %}
            </a>
        </li>
        {% else %}
        <li>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect" disabled>
                <i class="material-icons">keyboard_arrow_right</i>
            </button>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</div>
