
<footer class="mdl-mini-footer">
  <div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <div class="footer__copyright">
      &copy; {{ site.time | date: '%Y' }} - Fadi Khadra
    </div>
    <ul class="mdl-mini-footer__link-list">
      <li>
        <a href="https://be.linkedin.com/in/fadikhadra" target="_blank" alt="Fadi Khadra on Linkedin">
          <img src="{{ site.baseurl }}/img/linkedin.svg" alt="Fadi Khadra on Linkedin" class="social-icon">
        </a>
      </li>
      <li>
        <a href="https://github.com/sniphpet" target="_blank" alt="Fadi Khadra on Github">
          <img src="{{ site.baseurl }}/img/github.svg" alt="Fadi Khadra on GitHub" class="social-icon">
        </a>
      </li>
    </ul>
  </div>
  </div>
</footer>